.child-cont {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-magazines {
  margin-top: 20px;
}
.two-magazines {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.p-magazines {
  color: rgb(94, 92, 92);
  margin-top: 5px;
}

.h5-magazines {
  margin-top: 5px;
  margin-bottom: 5px;
}
.week {
  color: rgb(94, 92, 92);
}
@media all and (max-width: 800px) {
  .two-magazines {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
}
@media all and (max-width: 800px) {
  .second-magazines {
    margin-top: 50px;
  }
}
