.container {
  width: 1583px;
}
.pagination {
  display: flex;
  justify-content: center;
}
.product-list-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.products-filter-price {
  width: 20%;
}
