.navber-background {
  background-color: white;
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: -40%; */
}

.navbar-logo-block {
  display: flex;
  align-items: center;
  margin-left: 2%;
  padding: 15px 0;
  justify-content: space-between;
}
.navbar-block-icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}
.logo-mango-navbar {
  width: 144px;
  padding: 1% 0;
}
.navbar-icon {
  width: 22px;
  color: rgb(32, 32, 32);
  z-index: 5;
}
.navbar-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: inherit;
}
.navbar-icon-p {
  font-size: 11px;
  margin-top: -3px;
}
.navbar-icon-content-block {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 430px) {
  .logo-mango-navbar {
    width: 120px;
  }
}
