.add-product-content-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.add-product-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.add-block-inp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.add-product-btn-block {
  display: flex;
  justify-content: center;
  width: 20%;
}
.add-peoduct-btn {
  width: 100%;
}
.form-control-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.add-peoduct-btn {
  border: none;
  background-color: cornflowerblue;
  padding: 5% 0;
  box-shadow: 0 0 15px 4px rgba(63, 63, 63, 0.218);
}
.add-peoduct-btn:hover {
  border-radius: 10px;
  transition: 0.5s;
  background-color: rgb(65, 102, 172);
  color: white;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.438);
}
